// SCSS is full of advanced features it offers variables, you can shorten your code by using the created variables and support all css features.

.main__content
{
  display :flex;
  flex-direction: row;
  width: 500px;
  margin-top: 20px;

}
.main__content form{
  margin: auto;

}
.main__content form button{
  padding: 10px;

}
